@model GesCollege.Models.Departement

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"> Details Departement</span>
    </h1>
    <p class="lead"></p>
</div>

<div>
    <h4>Departement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.College.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomDep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a class="btn btn-secondary" href="@Url.Action("EtatEtuDep", "Rapport", new {id=Model.Id})">Note/Dep </a>|
    @Html.ActionLink("Back to List", "Index")
</p>
